## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

# Import the dependencies.
import matplotlib.pyplot as plt
import numpy as np

# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy
from config import weather_api_key

import requests 
# Import the datetime module from the datetime library.
from datetime import datetime
import time
# Import linear regression from the SciPy stats module.
from scipy.stats import linregress

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Country,Date
0,0,Livingstone,-17.84,25.85,75.72,30,0,3.29,clear sky,ZM,2020-11-01 20:13:36
1,1,Cap Malheureux,-19.98,57.61,66.99,69,31,3.00,scattered clouds,MU,2020-11-01 20:13:37
2,2,Lebu,-37.62,-73.65,57.83,79,7,5.35,clear sky,CL,2020-11-01 20:13:37
3,3,Butaritari,3.07,172.79,81.79,78,1,10.60,clear sky,KI,2020-11-01 20:13:37
4,4,Bredasdorp,-34.53,20.04,62.60,93,21,6.93,few clouds,ZA,2020-11-01 20:13:37

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
#Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Country,Date
0,0,Livingstone,-17.84,25.85,75.72,30,0,3.29,clear sky,ZM,2020-11-01 20:13:36
3,3,Butaritari,3.07,172.79,81.79,78,1,10.60,clear sky,KI,2020-11-01 20:13:37
9,9,Harper,4.38,-7.72,78.04,87,71,6.08,broken clouds,LR,2020-11-01 20:13:38
14,14,Kathu,7.92,98.33,77.00,94,75,2.24,broken clouds,TH,2020-11-01 20:13:39
15,15,Isangel,-19.55,169.27,77.40,77,10,14.88,clear sky,VU,2020-11-01 20:13:40
17,17,Vaini,-21.20,-175.20,75.20,88,75,8.05,broken clouds,TO,2020-11-01 20:13:40
23,23,Acapulco,16.86,-99.89,86.72,62,39,7.99,scattered clouds,MX,2020-11-01 20:13:41
26,26,Galveston,29.37,-94.97,75.99,47,1,17.22,clear sky,US,2020-11-01 20:13:42
31,31,Alofi,-19.06,-169.92,75.20,94,34,10.29,light rain,NU,2020-11-01 20:09:47
35,35,Dingle,11.00,122.67,75.65,88,100,5.50,overcast clouds,PH,2020-11-01 20:13:45

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                167
City                   167
Lat                    167
Lng                    167
Max Temp               167
Humidity               167
Cloudiness             167
Wind Speed             167
Current Description    167
Country                165
Date                   167
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
preferred_cities_df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Country,Date
0,0,Livingstone,-17.84,25.85,75.72,30,0,3.29,clear sky,ZM,2020-11-01 20:13:36
3,3,Butaritari,3.07,172.79,81.79,78,1,10.60,clear sky,KI,2020-11-01 20:13:37
9,9,Harper,4.38,-7.72,78.04,87,71,6.08,broken clouds,LR,2020-11-01 20:13:38
14,14,Kathu,7.92,98.33,77.00,94,75,2.24,broken clouds,TH,2020-11-01 20:13:39
15,15,Isangel,-19.55,169.27,77.40,77,10,14.88,clear sky,VU,2020-11-01 20:13:40
...,...,...,...,...,...,...,...,...,...,...,...
567,567,Salalah,17.02,54.09,78.80,69,0,4.70,clear sky,OM,2020-11-01 20:15:54
578,578,The Valley,18.22,-63.06,86.00,66,20,18.34,few clouds,AI,2020-11-01 20:15:57
584,584,El Vigia,8.62,-71.65,87.51,58,52,2.68,light rain,VE,2020-11-01 20:15:58
587,587,Yendi,9.44,-0.01,82.78,38,0,0.74,clear sky,GH,2020-11-01 20:15:59
592,592,Hualahuises,24.88,-99.67,79.36,31,0,10.89,clear sky,MX,2020-11-01 20:16:00

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Livingstone,ZM,75.72,clear sky,-17.84,25.85,
3,Butaritari,KI,81.79,clear sky,3.07,172.79,
9,Harper,LR,78.04,broken clouds,4.38,-7.72,
14,Kathu,TH,77.00,broken clouds,7.92,98.33,
15,Isangel,VU,77.40,clear sky,-19.55,169.27,
17,Vaini,TO,75.20,broken clouds,-21.20,-175.20,
23,Acapulco,MX,86.72,scattered clouds,16.86,-99.89,
26,Galveston,US,75.99,clear sky,29.37,-94.97,
31,Alofi,NU,75.20,light rain,-19.06,-169.92,
35,Dingle,PH,75.65,overcast clouds,11.00,122.67,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # add location to parameters
    params["location"] = f"{lat},{lng}"


    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    #print(hotels)
   
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (KeyError, IndexError):
        print("Hotel not found... skipping.")
print(hotel_df)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
            City Country  Max Temp Current Description    Lat     Lng  \
0    Livingstone      ZM     75.72           clear sky -17.84   25.85
3     Butaritari      KI     81.79           clear sky   3.07  172.79
9         Harper      LR     78.04       broken clouds   4.38   -7.72
14         Kathu      TH     77.00       broken clouds   7.92   98.33
15       Isangel      VU     77.40           clear sky -19.55  169.27
..           ...     ...       ...                 ...    ...     ...
567      Salalah      OM     78.80           clear sky  17.02   54.09
578   The Valley      AI     86.00          few clouds  18.22  -63.06
584     El Vigia      VE     87.51          light rain   8.62  -71.65
587        Yendi      GH     82.78           clear sky   9.44   -0.01
592  Hualahuises      MX     79.36           clear sky  24.88  -99.67

                        Hotel Name
0       Gloria's Bed and Breakfast
3               Isles Sunset Lodge
9                      Screensaver
14           Novotel Phuket Resort
15     Volcano Sea View Tree House
..                             ...
567             HAMDAN PLAZA HOTEL
578   CeBlue Villas & Beach Resort
584  Liceo Bolivariano 19 De Abril
587                   Eyarro Lodge
592                 Quinta Vazquez

[167 rows x 7 columns]

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Livingstone,ZM,75.72,clear sky,-17.84,25.85,Gloria's Bed and Breakfast
3,Butaritari,KI,81.79,clear sky,3.07,172.79,Isles Sunset Lodge
9,Harper,LR,78.04,broken clouds,4.38,-7.72,Screensaver
14,Kathu,TH,77.00,broken clouds,7.92,98.33,Novotel Phuket Resort
15,Isangel,VU,77.40,clear sky,-19.55,169.27,Volcano Sea View Tree House
...,...,...,...,...,...,...,...
567,Salalah,OM,78.80,clear sky,17.02,54.09,HAMDAN PLAZA HOTEL
578,The Valley,AI,86.00,few clouds,18.22,-63.06,CeBlue Villas & Beach Resort
584,El Vigia,VE,87.51,light rain,8.62,-71.65,Liceo Bolivariano 19 De Abril
587,Yendi,GH,82.78,clear sky,9.44,-0.01,Eyarro Lodge
592,Hualahuises,MX,79.36,clear sky,24.88,-99.67,Quinta Vazquez

In [21]:
# 8a. Create the output File (CSV)
output_data_file = "vacation_search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
# marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

gmaps.configure(api_key = g_key)
locations = clean_hotel_df[['Lat','Lng']]
info_box_template='''
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>'''

hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows() ]
fig = gmaps.figure(center = (30.0,31.0), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)
fig
# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))